.editions-filter { 
    margin-top: -3px !important; 
    position:relative;
}

.debug {
    color: rgb(0, 242, 255);
}

span.editions-tag {
    display: inline-block;
    background-color: #efd589;
    height: 18px;
    text-align: center;
    padding: 6px;
    color: #9a7300;
    border-radius: 5px;
    margin-top: 4px;
}

span.editions-tag span.dashicons {
    display: inline;
}

span.editions-tag a {
    color: #9a7300;
    text-decoration: none;
    font-weight: bold;
}

.badge-editions-filter::before {
       margin-right: 5px;
       display: inline-block;
       width: 30px;
       background-color: #9a7300;
       height: 18px;
       text-align: center;
       padding-top: 6px;
       padding-bottom: 6px;
       color: #efd589;
       border-bottom-left-radius: 5px;
       border-bottom-right-radius: 5px;
}
       
select.editions-filter {
    background:url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' style=\'fill:#eee; stroke:none\' width=\'50px\' height=\'50px\'><polyline points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>');
   background-color:transparent;
   background-repeat:no-repeat;
   background-position: right 4px top 8px;
   background-size: 10px 10px;
   
   padding:1px 6px !important;
   padding-right: 18px !important;
   line-height: 20px !important;
   width:auto !important;
   
   /* font-weight:bold !important; */
   color:#efd589;
   
   text-align:left;
   
   border-radius: 3px !important;
       -webkit-border-radius: 3px !important;
       -moz-border-radius: 3px !important;
   
       /* -webkit-appearance: none; */
   border:2px solid #efd589; /*#a0a5aa*/
   outline:0;
   -webkit-transition:0.3s ease all !important;
      -moz-transition:0.3s ease all !important;
       -ms-transition:0.3s ease all !important;
        -o-transition:0.3s ease all !important;
           transition:0.3s ease all !important;
           
   
   box-sizing: border-box !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
   /* Safari hack */
   select.editions-filter {
       -webkit-appearance: none;
   }
}

_::-webkit-full-page-media, _:future, :root select.editions-filter {
       -webkit-appearance: none;
}

select.editions-filter:hover {
   background-color:#efd589;
   color:black;
}

select.editions-filter:focus, select.editions-filter:active {
   outline:0;
}

.button-link.button-online { 
     color:white!important;
     display:inline-block!important;
     margin-left:5px!important;
} 